footer{
    height: 250px;
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 14%, rgba(0,212,255,1) 100%);
    padding: 50px 100px 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer article{
    width: 50%;
    height: 100%;
}
.footer-info{
    display: flex;
    justify-content: left;
    align-items: start;
    flex-direction: column;
}
.footer-info p{
    padding: 0;
    margin: 0 0 0 96px;
    width: 60%;
    color: rgb(238,238,236);
    letter-spacing: 0.5px;
    margin-bottom: 40px;
}
.footer-info h5{
    padding: 0;
    margin: 0;
    margin-left: 15px;
}
.footer-logo-container{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.footer-logo-container h5{
    font-size: 25px;
    color: rgb(238,238,236);
    letter-spacing: 0.8px;
}
.footer-contacto-redes{
    display: flex;
    justify-content: right;
}
.footer-contacto, .footer-redes, .footer-contacto-pages, .footer-redes-pages{
    width: 35%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    color: black;
    background-color: rgba(0,212,255,1);
    border: 1px solid rgb(238,238,236);
    border-radius: 5px;
    padding: 5px 0;
    letter-spacing: 0.8px;
    margin-left: 30px;
    box-shadow: 0 0 10px white;
}
.footer-contacto-redes h3{
    margin-bottom: 20px;
}
.footer-contacto-redes ul img{
    margin-right: 10px;
}
.footer-contacto-redes ul{
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-weight: 500;
}
.footer-contacto-redes ul li{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}